$footer-bg: #123;
$font-sizep: 25px;
$font-sizeh: 40px;
$text-color: #123;
$text-colorh: #fff;
$padding: 100px;
$container-width: 100%;
$container-height: auto;
$border: 1px solid red;
$font-weight: 700px;
